{% extends 'admin_app/layout.html' %}

{% block content %}
    {% if network %}
        <form method="post" action="{{ url_for( 'update_network',id_network=id_network) }}" enctype="multipart/form-data">
            <table style="text-align: center" >
                <tr>
                    <th>Название сети</th>
                    <td><input type="text" name="title" value="{{ network['title_network'] }}" placeholder="Название сети" required></td>
                </tr>
                <tr>
                    <th>Контакты</th>
                    <td>
                        <textarea name="contacts" rows="5" cols="40" required placeholder="Контакты">{{ network['contacts'] }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>Login</th>
                    <td><input type="text" name="login" placeholder="логин - [A-Za-z0-9]{5,}" pattern="[A-Za-z0-9]{5,}" required value="{{ network['login'] }}" readonly></td>
                </tr>
                <tr>
                    <th>Пароль</th>
                    <td><input type="password" name="password" placeholder="пароль - [A-Za-z0-9]{5,}" pattern="[A-Za-z0-9]{5,}"></td>
                </tr>
                <tr>
                    <th>Цвет метки на карте</th>
                    <td><input type="color" name="color" required value="{{ network['color_hash'] }}"> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="{{ network['path_img'] }}" width="50px">
                    </td>
                </tr>
                <tr>
                    <th>Фото логотипа сети</th>
                    <td><input type="file" name="file" accept="image/*" > </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="изменить"> </td>
                </tr>
            </table>
        </form>
    {% else %}
    <a href="javascript:sh()" style="color: #678889">
         <button type="button">Добавить новую сеть<img src="{{ url_for('static', filename='images/plus.svg') }}" width="12px"> </button>
     </a>
    <br/>
    <div id="info_" style="padding-top:15px; text-align: center" >
        <form method="post" action="{{ url_for('create_admin') }}" enctype="multipart/form-data">
            <table style="text-align: center" >
                <tr>
                    <th>Название сети</th>
                    <td><input type="text" name="title" placeholder="Название сети"></td>
                </tr>
                <tr>
                    <th>Контакты</th>
                    <td>
                        <textarea name="contacts" rows="5" cols="40" required placeholder="Контакты"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Login</th>
                    <td><input type="text" name="login" placeholder="логин - [A-Za-z0-9]{5,}" pattern="[A-Za-z0-9]{5,}" required></td>
                </tr>
                <tr>
                    <th>Пароль</th>
                    <td><input type="password" name="password" placeholder="пароль - [A-Za-z0-9]{5,}" pattern="[A-Za-z0-9]{5,}" required></td>
                </tr>
                <tr>
                    <th>Цвет метки на карте</th>
                    <td><input type="color" name="color" required> </td>
                </tr>
                <tr>
                    <th>Фото логотипа сети</th>
                    <td><input type="file" name="file" accept="image/*" required> </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="добавить"> </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        sh();
        function sh() {
            obj = document.getElementById("info_");
            if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }
        }
        </script>
    {% endif %}
    {% if networks %}
        <table width="80%"{# border="3"#} class="table">
        <tr>
            <th>фото</th>
            <th>название сети</th>
            <th>контакты</th>
            <th>цвет маркера</th>
            <th>забанен ли</th>
            <th>активирован ли</th>
            <th></th>
        </tr>
            {% for n in networks %}
                <tr {% if n['is_ban'] == True %}
                   class="danger"
                {% else %}
                     class="success"
                {% endif %}">
                    <td><img src="{{ n['path_img'] }}" width="50px"></td>
                    <td>{{ n['title_network'] }}</td>
                    <td>{{ n['contacts'] }}</td>
                    <td><input type="color" value="{{ n['color_hash'] }}" readonly></td>
                    <td>
                        {% if n['is_ban'] == True %}
                            сеть заблокирована
                        {% else %}
                            сеть работает
                        {% endif %}
                    </td>
                    <td>
                        {% if n['is_activate'] == True %}
                            сеть уже активна
                        {% else %}
                            сеть еще не активна
                        {% endif %}
                    </td>
                    <td>
                        {% if n['is_ban'] == True %}
                            <a href="{{ url_for('ban_unban_network', id_network=n['id_network']) }}"><input type="button" value="разбанить"></a>
                        {% else %}
                            <a href="{{ url_for('ban_unban_network', id_network=n['id_network']) }}"><input type="button" value="забанить"></a>
                        {% endif %}
                        <a href="{{ url_for('update_network',id_network=n['id_network']) }}"><input type="button" value="изменить"></a>
                        <a href="{{ url_for('remove_network',id_network=n['id_network']) }}"><input type="button" value="удалить сеть"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>пока нет сетей</h1>
    {% endif %}
    {#<form method="post" action="#" enctype="multipart/form-data">

        <table style="text-align: center" >
            <tr>
                <th>Название сети</th>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <th>Контакты</th>
                <td>
                    <textarea name="contacts" rows="5" cols="40" required></textarea>
                </td>
            </tr>
            <tr>
                <th>Login</th>
                <td><input type="text" name="login - [A-Za-z0-9]{5,}" placeholder="логин"pattern="[A-Za-z0-9]{5,}" required></td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td><input type="password" name="password - [A-Za-z0-9]{5,}" placeholder="пароль" pattern="[A-Za-z0-9]{5,}" required></td>
            </tr>
            <tr>
                <th>Цвет метки на карте</th>
                <td><input type="color" name="color" required> </td>
            </tr>
            <tr>
                <th>Фото логотипа сети</th>
                <td><input type="file" accept="image/*" required> </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="добавить"> </td>
            </tr>
        </table>
    </form>#}


{% endblock %}