{% extends 'admin_network/layout.html' %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% if message %}
        <h1 style="color:red;">{{ message }}</h1>
    {% endif %}

    <form action="{{ url_for('create_news') }}" method="post" enctype="multipart/form-data">
        <table width="100%">
            <tr>
                <th>название новости</th>
                <td><input type="text" placeholder="название новости" name="title" required></td>
            </tr>
            <tr>
                <th>текст новости</th>
                <td><textarea name="text_news" rows="4" cols="40" required></textarea></td>
            </tr>
            <tr>
                <th>фото</th>
                <td><input type="file" name="file" accept="image/*" ></td>
            </tr>
            <tr style="text-align: center">
                <td ><input type="submit" value="создать"></td>
            </tr>
        </table>
    </form>

    {% if news %}
        <table>
            <tr>
                <th>Название новости</th>
                <th>Текст новости</th>
                <th>Дата создания</th>
                <th>Дополнительно</th>
                <th></th>
            </tr>
            {% for n in news %}
            <tr>
                <td>{{ n['title_news'] }}</td>
                <td>{{ n['text_news'] }}</td>
                <td>{{ n['date_create'] }}</td>
                <td>
                    {% if n['path_img'] == '' %}
                        ---
                    {% else %}
                        <img src="{{ n['path_img'] }}" width="50px">
                    {% endif %}
                </td>
                <td><a href="{{ url_for('remove_news', id_news=n['id_news']) }}"><input type="button" value="удалить"></a> </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        список новостей пока что пуст
    {% endif %}
{% endblock %}