{% extends "admin_network/layout.html" %}

{% block content %}
    {% if message %}
        <h1 style="color: red">{{ message }}</h1>
    {% endif %}
    <form action="{{ url_for('update_gatherer') }}" method="post">
        есть акция "собирашки" <input type="checkbox" name="is_gatherer_shares" {% if gatherer['is_gatherer_shares'] == True %}checked {% endif %}>
        <input type="number" min="1" step="1" name="quantity_gatherer" placeholder="количество" value="{{ gatherer['quantity_gatherer'] }}">
        <img src="{{ url_for('static', filename='images/question.svg') }}" width="12px" title="сколько необходимо собрать баллов для получения бесплатного кофе ">
        <input type="submit" value="сохранить">
    </form>
    <style>
        #map{

            height: 500px;
            width: auto;
            /*float: right;*/
            /*position: static;*/
            margin-top: 10px;
        }
        #map1{
            height: 200px;
            width:500px;
            min-width: 400px;
            /*float: right;*/
            /*position: static;*/
            margin-top: 10px;
        }
    </style>
    <script>

    </script>

    <a href="javascript:sh()" style="color: #678889">
         <button type="button">Добавить новую точку<img src="{{ url_for('static', filename='images/plus.svg') }}" width="12px"> </button>
     </a><br/>
    <div id="info_" style="padding-top:15px; text-align: center" >
         <form action="{{ url_for('create_shop') }}" method="post" enctype="multipart/form-data">
    {#<table class="table">
        <tr>
            <th>Название</th>
            <td><input type="text" name="title" placeholder="title"></td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>
                <textarea name="description" rows="4" cols="40" placeholder="desscription"></textarea>
            </td>
        </tr>
        <tr>
            <th>Время работы</th>
            <td>
                <table>
                    <tr>
                        <th>с</th>
                        <th>до</th>
                    </tr>
                    <tr>
                        <td><input type="time" id="time_start" name="time_start"></td>
                        <td><input type="time" id="time_end" name="time_end"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>рабочие дни</th>
            <td>
                <table>
                    <tr>
                        <th style="background-color: green">Пн</th>
                        <th style="background-color: green">Вт</th>
                        <th style="background-color: green">Ср</th>
                        <th style="background-color: green">Чт</th>
                        <th style="background-color: green">Пт</th>
                        <th style="background-color: red">Сб</th>
                        <th style="background-color: red">Вс</th>
                    </tr>
                    <tr>
                        <td style="background-color: green"><input type="checkbox" name="week1" checked></td>
                        <td style="background-color: green"><input type="checkbox" name="week2" checked></td>
                        <td style="background-color: green"><input type="checkbox" name="week3" checked></td>
                        <td style="background-color: green"><input type="checkbox" name="week4" checked></td>
                        <td style="background-color: green"><input type="checkbox" name="week5" checked></td>
                        <td style="background-color: red"><input type="checkbox" name="week6" checked></td>
                        <td style="background-color: red"><input type="checkbox" name="week7" checked></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="map1">

            </td>
        </tr>
        <tr>
            <th>адрес</th>
            <td>
                <textarea id="address1" name="address" placeholder="address" rows="2" style="width: 100%;resize: none"></textarea><br>
            </td>
        </tr>
        <tr>
            <th>координаты</th>
            <td><input type="text" id ="latitude1" name="latitude" size="6" required readonly>
                <input type="text" name="longitude" id ="longitude1" size="6" required readonly></td>
        </tr>
        <tr>
            <th>фото</th>
            <td><input type="file" name="file" accept="image/*" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="create">
            </td>
        </tr>
    </table>#}

             <div class="form-group row">
                 <label for="title" class="col-sm-2 col-form-label">Название</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control-plaintext" id="title" name="title" placeholder="Название">
                 </div>
             </div>
             <div class="form-group row">
                 <label for="description" class="col-sm-2 col-form-label">Описание</label>
                 <div class="col-sm-10">
                     <textarea type="text" class="form-control-plaintext" id="description" name="description" placeholder="Описание"rows="3" style="width: 100%;resize: none"></textarea>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="time" class="col-sm-2 col-form-label">Время работы</label>
                 <div class="col-sm-10">
                     <table id="time" class="table" style="text-align: center">
                         <tr style="text-align: center">
                             <th>с</th>
                             <th>до</th>
                         </tr>
                         <tr>
                             <td><input type="time" id="time_start" name="time_start"></td>
                             <td><input type="time" id="time_end" name="time_end"></td>
                         </tr>
                     </table>
                 </div>
             </div>

             <div class="form-group row">
                 <label for="work_day" class="col-sm-2 col-form-label">Рабочие дни</label>
                 <div class="col-sm-10">
                     <table id="work_day" class="table">
                        <tr>
                            <th style="background-color: green">Пн</th>
                            <th style="background-color: green">Вт</th>
                            <th style="background-color: green">Ср</th>
                            <th style="background-color: green">Чт</th>
                            <th style="background-color: green">Пт</th>
                            <th style="background-color: red">Сб</th>
                            <th style="background-color: red">Вс</th>
                        </tr>
                        <tr>
                            <td style="background-color: green"><input type="checkbox" name="week1" checked></td>
                            <td style="background-color: green"><input type="checkbox" name="week2" checked></td>
                            <td style="background-color: green"><input type="checkbox" name="week3" checked></td>
                            <td style="background-color: green"><input type="checkbox" name="week4" checked></td>
                            <td style="background-color: green"><input type="checkbox" name="week5" checked></td>
                            <td style="background-color: red"><input type="checkbox" name="week6" checked></td>
                            <td style="background-color: red"><input type="checkbox" name="week7" checked></td>
                        </tr>
                </table>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="map1" class="col-sm-2 col-form-label">Место на карте</label>
                 <div class="col-sm-10">
                     <div id="map1"></div>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="address1" class="col-sm-2 col-form-label">Координаты</label>
                 <div class="col-sm-10">
                     <textarea id="address1" name="address" placeholder="address" rows="2" style="width: 100%;resize: none"></textarea><br>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="latlon" class="col-sm-2 col-form-label">Координаты</label>
                 <div class="col-sm-10">
                     <div id="latlon">
                         <input type="text" id ="latitude1" name="latitude" size="6" required readonly>
                         <input type="text" name="longitude" id ="longitude1" size="6" required readonly>
                     </div>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="photo" class="col-sm-2 col-form-label">Фото</label>
                 <div class="col-sm-10">
                     <input id="photo" class="form-control-plaintext" type="file" name="file" accept="image/*" required>
                 </div>
             </div>

              <input type="submit" value="create" class="btn btn-primary">

    </form>
    </div>
    <script type="text/javascript">
        sh();
        function sh() {
            obj = document.getElementById("info_");
            if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }
        }
        </script>
    <script>
        function get_addres() {
            var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + document.getElementById("latitude1").value + "," + document.getElementById("longitude1").value+"&key=AIzaSyAtdcwr5Dojv-zdFs3IMs1Cl2vAFkpoj08";//&language=ru"
            //var url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + "&sensor=false&language=ru?key=AIzaSyAtdcwr5Dojv-zdFs3IMs1Cl2vAFkpoj08"
            console.log(url)
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                data: {},
                success: function (data) {
                    console.log(data['results'][3]['formatted_address']);
                    document.getElementById("address1").value = data['results'][0]['formatted_address'];
                }
            });
        }
        var markers = [];
        function initMap() {
            var uluru = {lat:  49.038670, lng: 31.451427};
            var map = new google.maps.Map(document.getElementById('map1'), {
                zoom: 6,
                center: uluru
            });                            /* var marker = new google.maps.Marker({
                             position: uluru,
                             map: map
                             });*/
            map.addListener('click', function(e) {
                //console.log(e.position);
                placeMarkerAndPanTo(e.latLng, map);
            });
        }

        function placeMarkerAndPanTo(latLng, map) {
            deleteMarkers();
            document.getElementById("latitude1").value = latLng["lat"]();
            document.getElementById("longitude1").value = latLng["lng"]();
            get_addres();
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            markers.push(marker);
        }
        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
                        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }
                        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdcwr5Dojv-zdFs3IMs1Cl2vAFkpoj08&callback=initMap">
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    {% if shops %}
        <table width="80%" border="1" class="table">
        <tr>
            <th>фото</th>
            <th>название</th>
            <th>адрес</th>
            <th>описания</th>
            <th>работает</th>
            <th></th>
        </tr>
            {% for s in shops %}
                <tr {% if s['is_activate'] == False %}
                   class="danger"
                {% else %}
                    class="success"
                {% endif %}>
                    <td><img src="{{ s['path_img'] }}" width="50px"></td>
                    <td>{{ s['title'] }}</td>
                    <td>{{ s['address'] }}</td>
                    <td>{{ s['description'] }}</td>
                    <td>
                        <table class="table">
                            <tr style="text-align: center;" >
                                <td>

                                    <table style="text-align: center;">
                                        <tr>
                                            <th style="background-color: green">Пн</th>
                                            <th style="background-color: green">Вт</th>
                                            <th style="background-color: green">Ср</th>
                                            <th style="background-color: green">Чт</th>
                                            <th style="background-color: green">Пт</th>
                                            <th style="background-color: red">Сб</th>
                                            <th style="background-color: red">Вс</th>
                                        </tr>
                                        <tr>
                                            <td style="background-color: green"><input type="checkbox" name="week1" {% if s['working_day'][0] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: green"><input type="checkbox" name="week2" {% if s['working_day'][1] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: green"><input type="checkbox" name="week3" {% if s['working_day'][2] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: green"><input type="checkbox" name="week4" {% if s['working_day'][3] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: green"><input type="checkbox" name="week5" {% if s['working_day'][4] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: red"><input type="checkbox" name="week6" {% if s['working_day'][5] == True %}checked{% endif %} readonly disabled></td>
                                            <td style="background-color: red"><input type="checkbox" name="week7" {% if s['working_day'][6] == True %}checked{% endif %} readonly disabled></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="text-align: center;" border="1">
                                        <tr style="text-align: center;">
                                            <th>c </th>
                                            <th>до</th>
                                        </tr>
                                        <tr style="text-align: center;">
                                            <th>{{ s['time_start'] }}</th>
                                            <th>{{ s['time_end'] }}</th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        {#<a href="{{ url_for('list_products', id_coffee_shop=s['id_shop'])}}"> <input type="button" value="меню кофейни"></a>#}
                        {% if s['is_activate'] == False %}
                            <a href="{{ url_for('ban_shop',id_shop=s['id_shop']) }}"> <input class="inputWrapper" type="button" value="разблокировать"></a>
                        {% else %}
                            <a href="{{ url_for('ban_shop',id_shop=s['id_shop']) }}"> <input class="inputWrapper" type="button" value="заблокировать"></a>
                        {% endif %}

                        <a href="{{ url_for('remove_shop',id_shop=s['id_shop']) }}"> <input class="inputWrapper" type="button" value="удалить"></a>
                    </td>

                </tr>
            {% endfor %}

        </table>

    {% else %}
        список сетей пока что пуст
    {% endif %}

{% endblock %}