{% extends "admin_network/layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
    <script>
    jQuery(function($){
   $("#phone").mask("+38(999) 999-9999");
   });
    function update_work_place(id_worker) {
        id_shop = document.getElementById('work_'+id_worker).value;
         $.ajax({
            type: 'GET',
            url: '{{ url_move }}/'+id_worker+'/'+id_shop,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {

            }
        });

    }
    </script>
{% endblock %}

{% block content %}
    {% if message %}
        <h1 style="color: red">{{ message }}</h1>
    {% endif %}
    {% if shops %}
        <form method="post" action="{{ url_for('create_worker') }}">
            <div class="form-group row">
                 <label for="full_name" class="col-sm-2 col-form-label">Ф.И.О.</label>
                 <div class="col-sm-10">
                     <input type="text" name="full_name" id="full_name" placeholder="Ф.И.О.">
                 </div>
             </div>
            <div class="form-group row">
                 <label for="phone" class="col-sm-2 col-form-label">телефон</label>
                 <div class="col-sm-10">
                     <input type="text" id="phone" name="phone" placeholder="+38(999) 999-9999">
                 </div>
             </div>
            <div class="form-group row">
                 <label for="login" class="col-sm-2 col-form-label">логин</label>
                 <div class="col-sm-10">
                     <input type="text" name="login" id="login" placeholder="login" pattern="[A-Za-z0-9]{5,}">
                 </div>
             </div>
            <div class="form-group row">
                 <label for="password" class="col-sm-2 col-form-label">пароль</label>
                 <div class="col-sm-10">
                     <input type="password" name="password" id="password" placeholder="пароль" pattern="[A-Za-z0-9]{5,}">
                 </div>
             </div>
            <div class="form-group row">
                 <label for="coffee_shop" class="col-sm-2 col-form-label">кофейня</label>
                 <div class="col-sm-10">
                     <select name="coffee_shop" id="coffee_shop">
                            {% for s in shops.keys() %}
                                <option value="{{ s }}">{{ shops[s] }}</option>
                            {% endfor %}
                        </select>
                 </div>
             </div>
            <input type="submit" value="создать" class="btn btn-primary">


           {# <table width="80%" >
                <tr>
                    <th>Ф.И.О.</th>
                    <td><input type="text" name="full_name" placeholder="Ф.И.О."></td>
                </tr>
                <tr>
                    <th>телефон</th>
                    <td><input type="text" id="phone" name="phone" placeholder="+38(999) 999-9999"></td>
                </tr>
                <tr>
                    <th>логин</th>
                    <td><input type="text" name="login" placeholder="login" pattern="[A-Za-z0-9]{5,}"></td>
                </tr>
                <tr>
                    <th>пароль</th>
                    <td><input type="password" name="password" placeholder="пароль" pattern="[A-Za-z0-9]{5,}"></td>
                </tr>
                <tr>
                    <th>кофейня</th>
                    <td>
                        <select name="coffee_shop">
                            {% for s in shops.keys() %}
                                <option value="{{ s }}">{{ shops[s] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="создать"></td>
                </tr>
            </table>#}

        </form>

        {% if workers %}
            <table class="table">
                <tr>
                    <th>Ф.И.О.</th>
                    <th>телефон</th>
                    <th>кофейня</th>
                    <th></th>
                </tr>
                {% for w in workers %}
                <tr>
                    <td>{{ w['full_name'] }}<br>@{{ w['login'] }}</td>
                    <td>{{ w['phone'] }}</td>
                    <td>
                        <select id="work_{{ w['id_worker'] }}" onclick="update_work_place({{ w['id_worker'] }})">
                        <option value="0" selected>---</option>
                        {% for s in shops.keys() %}
                                <option value="{{ s }}" {% if w['id_coffee_shop']|string == s%}selected{% endif %}>{{ shops[s] }}</option>
                            {% endfor %}
                        </select>
                        {#{% if shops[w['id_coffee_shop']|string] %}
                            {{ shops[w['id_coffee_shop']|string] }}
                        {% else %}
                            не привязан ни к какой точке
                        {% endif %}#}
                    </td>
                    <td>
                        <a href="{{ url_for('remove_worker', id_worker=w['id_worker'])}}"><input type="button" value="удалить"> </a> </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            работников пока нет
        {% endif %}

    {% else %}
        прежде чем создать работников создайте кофейни
    {% endif %}




{% endblock %}